@model IEnumerable<Hajz.ViewModel.UsersFormVM>

@{
    ViewData["Title"] = "المستخدمين";
    var index = 1;
}


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- Basic Bootstrap Table -->
        <div class="card mb-4">

            <div class="card-header">
                <form asp-action="Users">
                <div class="row ms-2 me-3">
                    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-2">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label>
                                    <select  name="rowNum" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="5" selected="@(ViewBag.num ==5 ? true :false)">5</option>
                                        <option value="10" selected="@(ViewBag.num ==10 ? true :false)">10</option>
                                        <option value="50" selected="@(ViewBag.num ==50 ? true :false)">50</option>
                                        <option value="100" selected="@(ViewBag.num ==100 ? true :false)">100</option>
                                    </select>
                                </label>
                        </div>
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">

                             <div class="input-group input-group-merge">

                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-search-alt"></i>
                                    </span>
                                    <input type="text" class="form-control" value="@(ViewBag.term !=null ? ViewBag.term :string.Empty)" name="term" id="basic-icon-default-fullname" placeholder="... بحث"
                                           aria-describedby="basic-icon-default-fullname2">
                                    <button type="submit" value="بحث" class="btn btn-primary ">بحث </button>
                                </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 d-flex align-items-center justify-content-end flex-column flex-md-row pe-3 gap-md-2">
                        <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                            <div class="dt-buttons">
                                <a class="dt-button btn btn-primary"
                                   asp-controller="Account" asp-action="Create">
                                    <span><i class="bx bx-plus me-md-2"></i><span class="d-md-inline-block d-none">إضافة مستخدم</span></span>
                                </a>
                            </div>
                        </div>
                        <div class="invoice_status mb-3 mb-md-0">
                        </div>
                    </div>
                </div>

                </form>
            </div>



            <div class="card-body">

                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.UserName) </th>
                                <th>@Html.DisplayNameFor(model => model.IsActive) </th>
                                <th>@Html.DisplayNameFor(model => model.Roles) </th>
                                <th>الإجراءات</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName) </td>
                                    <td>
                                            @if (item.IsActive)
                                            {
                                            <span class="badge bg-label-success">نشط</span>
                                            }
                                            else
                                            {
                                            <span class="badge bg-label-danger">غير نشط</span>

                                            }
                                    </td>
                                    <td>
                                            @string.Join(" , ", item.NameRoles.ToList())
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-userId="@item.Id"><i class="bx bx-edit-alt me-2"></i> تعديل</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Basic Pagination -->
            <div class="card-footer demo-inline-spacing ">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage - 1 > 0)
                        {
                            <li class="page-item prev">
                                <a class="page-link" href="/Account/Users/?term=@(ViewBag.term)&RequiredPage=@(ViewBag.CurrentPage -1)&rowNum=@(ViewBag.num)"><i class="tf-icon bx bx-chevron-left"></i></a>
                            </li>
                        }

                          @if (ViewBag.CurrentPage <= ViewBag.pagesCount)
                        {
                            <li class="page-item active">
                                <a class="page-link active" href="/Account/Users/?term=@(ViewBag.term)&RequiredPage=@(ViewBag.CurrentPage )&rowNum=@(ViewBag.num)">@(ViewBag.CurrentPage)</a>
                            </li>
                        }
                        
                         @if (ViewBag.CurrentPage +1 <= ViewBag.pagesCount)
                        {
                            <li class="page-item ">
                                <a class="page-link" href="/Account/Users/?term=@(ViewBag.term)&RequiredPage=@(ViewBag.CurrentPage +1)&rowNum=@(ViewBag.num)">@(ViewBag.CurrentPage + 1)</a>
                            </li>
                        }
                         @if (ViewBag.CurrentPage +2 <= ViewBag.pagesCount)
                        {
                            <li class="page-item ">
                                <a class="page-link" href="/Account/Users/?term=@(ViewBag.term)&RequiredPage=@(ViewBag.CurrentPage +2)&rowNum=@(ViewBag.num)">@(ViewBag.CurrentPage + 2)</a>
                            </li>
                        }
                     
                        @if (ViewBag.CurrentPage +3 <= ViewBag.pagesCount)
                        {
                            <li class="page-item next">
                                <a class="page-link" href="/Account/Users/?term=@(ViewBag.term)&RequiredPage=@(ViewBag.CurrentPage +3)&rowNum=@(ViewBag.num)"><i class="tf-icon bx bx-chevron-right"></i></a>
                            </li>
                        }
                    </ul>
                </nav>
                <!--/ Basic Pagination -->
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
    <!-- / Content -->

    <!--/ View Details  Modal -->

</div>